
{% extends "layout.html" %}
{% block title %}Solarzellen (Leistung){% endblock %}
{% block heading %}Solarzellen (Leistung){% endblock %}

{% block scripts %}
<script>
	let chartData = {
		sum: [],
		dc_inputs: []
	};
	let colMap = {};

	async function fetchMetadata() {
		const response = await fetch('/dashboard/json/solar_metadata.json');
		return await response.json();
	}

	async function fetchData() {
		const response = await fetch('/dashboard/json/solar_power.json');
		return await response.json();
	}

	async function fetchDataUpdate() {
		const response = await fetch('/dashboard/json/solar_power_update.json');
		return await response.json();
	}

	function appendNewData(newData, colHeaders, mapping) {
		// formatted = {
		// 	sum: [ { x: 0, y: 0}, ... ],
		// 	dc_inputs: [
		// 		{
		// 			index: 0,
		// 			values: [ { x: 0, y: 0}]
		// 		}, ...
		// 	]
		// }
		// SELECT m.timestamp, d.inputIndex, d.power 
		const TS = 0, POWERS = 1;

		const iterableMapping = Object.entries(mapping)
		
		for (const d of newData) {
			const x = d[TS] * 1000;
			const powerArr = d[POWERS];
			let currentSum = 0;
			for (const [inputIndex, arrayPos] of iterableMapping) {
				const y = powerArr[arrayPos];
				chartData.dc_inputs[arrayPos].values.push({ x, y });
				currentSum += y
			}
			chartData.sum.push({ x, y: Math.round( currentSum )})
		}

		lastTimestamp = newData[newData.length - 1][TS];
		const cutoff = (lastTimestamp - WINDOW_SECONDS) * 1000;

		// purge all values older than 24 hours. shift() is faster than filter. mostly irrelevant but neat
		while (chartData.sum.length > 0 && chartData.sum[0].x < cutoff) {
			chartData.sum.shift();
		}

		for (let row of chartData.dc_inputs) {
			let series = row.values;
			while (series.length > 0 && series[0].x < cutoff) {
				series.shift();
			}
		}
		if (chartData.sum.length > 0) {
			firstTimestamp = Math.floor(chartData.sum[0].x / 1000);
		}
	}

	async function pollUpdates(isInitialLoad = false) {
		const TS = 0;
		const response = isInitialLoad ? await fetchData() : await fetchDataUpdate();

		if (!response.values || response.values.length === 0)
			return;

		// only append points with newer timestamp
		const newPoints = response.values.filter(d => d[TS] > lastTimestamp);

		if (newPoints.length > 0) {
			appendNewData(newPoints, response.columns, response.mapping);
			updateChart(chartData);
		}
	}

	function updateChart(formatted) {
		// formatted = {
		// 	sum: [ { x: 0, y: 0}, ... ],
		// 	dc_inputs: [
		// 		{
		// 			index: 0,
		//			name: "",
		// 			values: [ { x: 0, y: 0}]
		// 		}, ...
		// 	]
		// }
		for (const plot of formatted.dc_inputs) {
			chart.data.datasets[colMap[plot.index]].data = plot.values;
		}
		chart.data.datasets[chart.data.datasets.length - 1].data = formatted.sum;

		// update y-axis scaling
		chart.options.scales.y1.suggestedMax = Math.max(
			...formatted.sum.map(p => p.y) // obviously sum > summands so only need this
		) * 1.1;
		chart.options.plugins.zoom.limits.x = {
			min: (firstTimestamp - 120) * 1000,
			max: (lastTimestamp + 120) * 1000,
			minRange: 20000
		};
		chart.update();
	}

	async function initChart() {
		const colors = ['blue', 'green', 'cyan', 'lightcoral'];
		const metadata = await fetchMetadata();
		datasetsTemplate = [];
		for (const [idx, col] of metadata.values.entries()) {
			colMap[col[0]] = idx;
			chartData.dc_inputs.push({ index: col[0], name: col[1], values: [] });
			datasetsTemplate.push({ label: col[1], data: [], borderColor: colors[idx], fill: false, unit: 'W', yAxisID: 'y1' });
		}
		datasetsTemplate.push({ label: "Summe", data: [], borderColor: 'orange', fill: false, unit: 'W', yAxisID: 'y1' });
		const ctx = document.getElementById('solarData').getContext('2d');
		chart = new Chart(ctx, {
			type: 'line',
			data: {
				datasets: datasetsTemplate
			},
			options: {
				responsive: true,
				animation: false,	// Required for performance
				parsing: false,		// Required for performance
				maintainAspectRatio: false,
				elements: {
					point: {
						radius: 0, // default radius
						hitRadius: 10, // hitbox for tooltip
						hoverRadius: 4 // hitbox for a data point showing up
					},
					line: {
						borderWidth: 2 // line width
					}
				},
				plugins: {
					decimation: {
						enabled: true,
						algorithm: 'lttb',
						samples: 350,
						threshold: 350
					},
					zoom: {
						zoom: { wheel: { enabled: true, modifierKey: 'shift' }, pinch: { enabled: true }, mode: 'xy', overScaleMode: 'y' },
						pan: { enabled: true, mode: 'xy', overScaleMode: 'y' },
						limits: {
							x: { min: 0, max: 100, minRange: 50 }
						}
					},
					tooltip: {
						callbacks: {
							label: ctx => {
								const y = ctx.raw.y ?? ctx.raw;
								const unit = ctx.dataset.unit || '';
								return `${ctx.dataset.label}: ${y} ${unit}`;
							}
						}
					}
				},
				scales: {
					x: {
						title: { display: true, text: 'Zeit' },
						type: 'time',
						ticks: {
							autoSkip: true,
							maxRotation: 0,
							minRotation: 0,
							padding: 10, // gap between labels
							sampleSize: 10, // minimum spacing between ticks
							maxTicksLimit: 10, // max ticks on screen
						}
					},
					y1: {
						position: 'left',
						title: { display: true, text: 'Leistung' }
					}
				}
			}
		});
		await pollUpdates(true)
	}

	initChart().then(() => {
		setInterval(pollUpdates, 5000);
	});
</script>
{% endblock %}