<!DOCTYPE html>
<html>
	
<head>
	<meta charset="utf-8">
	<title>Solardaten</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<style>
		html, body {
			margin: 0;
			height: calc(100% - 40px);
			display: flex;
			flex-direction: column;
		}

		h2 {
			margin: 0;
			padding: 10px;
		}

		#solarData {
			flex: 1;
			width: 100%;
		}
	</style>
</head>
<body>
	<h2>Solardaten</h2>
	<script src="/static/js/chart.js"></script>
	<script src="/static/js/hammer.js"></script>
	<script src="/static/js/chartjs-plugin-zoom.min.js"></script>
	<script src="/static/js/luxon.min.js"></script>
	<script src="/static/js/chartjs-adapter-luxon@1.js"></script>
	<button onclick="resetZoom()" style="margin-bottom: 10px; padding: 5px 10px; cursor: pointer;">
    	Zoom zurücksetzen
	</button>
	<canvas id="solarData"></canvas>

	<script>
		let chart = null;
		let chartData = {
			inverterLimit: [],
			gridConsumption: [],
			batteryPower: [],
			batteryVoltage: []
		};
		let lastTimestamp = 0;
		let firstTimestamp = 0;
		const WINDOW_SECONDS = 24 * 60 * 60;

		async function fetchData() {
			const response = await fetch('/main_data.json');
			return await response.json();
		}

		async function fetchDataUpdate() {
			const response = await fetch('/main_data_update.json');
			return await response.json();
		}

		function appendNewData(newData, colHeaders) {
			// SELECT m.timestamp, m.inverterLimit, m.gridConsumption, d.power as batteryPower, d.voltage as batteryVoltage
			const TS = 0, LIM = 1, GRID = 2, PWR = 3, VOLT = 4 
			
			for (const d of newData) {
				const x = d[TS] * 1000;
				chartData.inverterLimit.push({ x, y: d[LIM] });
				chartData.gridConsumption.push({ x, y: d[GRID] });
				chartData.batteryPower.push({ x, y: d[PWR] });
				chartData.batteryVoltage.push({ x, y: d[VOLT] });
			}

			lastTimestamp = newData[newData.length - 1][TS];
			const cutoff = (lastTimestamp - WINDOW_SECONDS) * 1000;
			for (const key in chartData) {
				cur = chartData[key] // faster than filter. irrelevant but neat.
				while (cur.length > 0 && cur[0].x < cutoff) {
					cur.shift();
				}
			}
			if (chartData.inverterLimit.length > 0) {
				firstTimestamp = Math.floor(chartData.inverterLimit[0].x / 1000)  // choice of inverterLimit is arbitrary
			}
		}

		async function pollUpdates(isInitialLoad = false) {
			const TS = 0;
			
			const response = isInitialLoad ? await fetchData() : await fetchDataUpdate()
			
			if (!response.values || response.values.length === 0)
				return
			
				// only append points with newer timestamp
			const newPoints = response.values.filter(d => d[TS] > lastTimestamp);

			if (newPoints.length > 0) {
				appendNewData(newPoints, response.columns)
				updateChart(chartData)
			}
		}

		function resetZoom() {
			if (chart) {
				chart.resetZoom()
			}
		}

		function updateChart(formatted) {

			chart.data.datasets[0].data = formatted.inverterLimit;
			chart.data.datasets[1].data = formatted.gridConsumption;
			chart.data.datasets[2].data = formatted.batteryPower;
			chart.data.datasets[3].data = formatted.batteryVoltage;

			// update y-axis scaling
			chart.options.scales.y1.suggestedMax = Math.max(
				Math.max(...formatted.inverterLimit.map(p => p.y)),
				Math.max(...formatted.gridConsumption.map(p => p.y)),
				Math.max(...formatted.batteryPower.map(p => p.y)),
				Math.max(...formatted.batteryVoltage.map(p => p.y))
			) * 1.1;
			chart.options.plugins.zoom.limits.x = { 
				min: (firstTimestamp - 120) * 1000, 
				max: (lastTimestamp + 120) * 1000, 
				minRange: 20000
			};
			chart.update();
		}

		async function initChart() {
			const ctx = document.getElementById('solarData').getContext('2d');
			chart = new Chart(ctx, {
				type: 'line',
				data: {
					datasets: [
						{ label: 'Wechselrichterlimit', data: [], borderColor: 'red', fill: false, unit: 'W', yAxisID: 'y1' },
						{ label: 'Stromverbrauch', data: [], borderColor: 'blue', fill: false, unit: 'W', yAxisID: 'y1' },
						{ label: 'Batterieleistung', data: [], borderColor: 'green', fill: false, unit: 'W', yAxisID: 'y1' },
						{ label: 'Batteriespannung', data: [], borderColor: 'cyan', fill: false, unit: 'V', yAxisID: 'y2' }
					]
				},
				options: {
					responsive: true,
					animation: false,	// Required for performance
					parsing: false,		// Required for performance
					maintainAspectRatio: false,
					elements: {
						point: {
							radius: 0, // default radius
							hitRadius: 10, // hitbox for tooltip
							hoverRadius: 4 // hitbox for a data point showing up
						},
						line: {
							borderWidth: 2 // line width
						}
					},
					plugins: {
						decimation: {
							enabled: true,
							algorithm: 'lttb',
							samples: 350,
							threshold: 350
						},
						zoom: {
							zoom: { wheel: { enabled: true, modifierKey: 'shift' }, pinch: { enabled: true }, mode: 'xy', overScaleMode: 'y' },
							pan: { enabled: true, mode: 'xy', overScaleMode: 'y'},
							limits: {
								x: { min: 0, max: 100, minRange: 50}
							}
						},
						tooltip: {
							callbacks: {
								label: ctx => {
									const y = ctx.raw.y ?? ctx.raw;
									const unit = ctx.dataset.unit || '';
									return `${ctx.dataset.label}: ${y} ${unit}`;
								}
							}
						}
					},
					scales: {
						x: {
							title: { display: true, text: 'Zeit' },
							type: 'time',
							ticks: {
								autoSkip: true,
								maxRotation: 0,
								minRotation: 0,
								padding: 10, // gap between labels
								sampleSize: 10, // minimum spacing between ticks
								maxTicksLimit: 10, // max ticks on screen
							}
						},
						y1: {
							position: 'left',
							title: { display: true, text: 'Leistung' }
						},
						y2: {
							position: 'right',
							title: { display: true, text: 'Spannung' },
							suggestedMin: 0,
							suggestedMax: 55,
							grid: { drawOnChartArea: false } // prevent double grid lines
						}
					}
				}
			});
			await pollUpdates(true)
		}

		initChart().then(() => {
			setInterval(pollUpdates, 5000);
		});
	</script>
</body>

</html>